<a href="https://colab.research.google.com/github/nandanamanoj22/project/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df=pd.read_csv("/content/fraudTest.csv")
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1.371817e+09,33.986391,-81.200714,0.0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1.371817e+09,39.450498,-109.960431,0.0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1.371817e+09,40.495810,-74.196111,0.0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1.371817e+09,28.812398,-80.883061,0.0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1.371817e+09,44.959148,-85.884734,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7793,7793,2020-06-23 13:01:43,377113842678100,fraud_Fritsch and Sons,health_fitness,152.25,Billy,Gallagher,M,673 Delgado Burg,...,39.4055,-75.3209,804,Insurance risk surveyor,1965-03-25,f7acd865db256104d0ce1b8a1ffbae05,1.371993e+09,39.935513,-75.179333,0.0
7794,7794,2020-06-23 13:02:09,6538891242532018,"fraud_Torp, Muller and Borer",health_fitness,32.66,Jodi,Rodriguez,F,5796 Lee Coves Apt. 286,...,36.0244,-90.9288,7155,"Engineer, control and instrumentation",1977-03-23,6070406dc6dce186b67636e216419ead,1.371993e+09,35.702523,-90.870504,0.0
7795,7795,2020-06-23 13:02:35,4658117080136,fraud_Haley Group,misc_pos,8.50,Dwayne,Martinez,M,490 Baldwin Alley Apt. 468,...,35.7206,-108.0271,5662,IT consultant,1989-04-08,f36fdd434c182ce310169da03766f859,1.371993e+09,34.883752,-108.588882,0.0
7796,7796,2020-06-23 13:03:43,2720830304681674,fraud_Kozey-Kuhlman,personal_care,20.09,Melissa,Aguilar,F,21326 Taylor Squares Suite 708,...,36.5220,-87.3490,151785,Pathologist,1974-03-28,f7a3f70dbbcca903324b9c22d98ffd47,1.371993e+09,36.373711,-87.343330,0.0
7797,7797,2020-06-23 13:03:50,4992346398065154184,fraud_Yost-Rogahn,personal_care,74.00,Benjamin,Kim,M,920 Patrick Light,...,41.1730,-89.2187,532,Audiological sci,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df=pd.read_csv("/content/fraudTrain.csv")
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1.325376e+09,36.011293,-82.048315,0.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1.325376e+09,49.159047,-118.186462,0.0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1.325376e+09,43.150704,-112.154481,0.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1.325376e+09,47.034331,-112.561071,0.0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1.325376e+09,38.674999,-78.632459,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11701,11701,2019-01-07 20:38:04,4223708906367574214,fraud_Reichert-Weissnat,travel,542.06,Adam,Riddle,M,27718 Mason Bypass,...,39.0965,-84.6431,177,Exhibition designer,1974-05-30,107e3c2b46ef9ce28185427a45fa2088,1.325969e+09,38.219354,-83.672260,0.0
11702,11702,2019-01-07 20:38:05,3541160328600277,"fraud_O'Reilly, Mohr and Purdy",home,42.50,Jason,Singh,M,4720 Anna Ways,...,39.5723,-90.2379,1512,Commercial/residential surveyor,2003-05-07,3f9554d76d89abb2d47e34f9da025159,1.325969e+09,40.564579,-90.378169,0.0
11703,11703,2019-01-07 20:39:07,6011438889172900,fraud_Mohr-Bayer,shopping_net,21.42,Allison,Allen,F,40624 Rebecca Spurs,...,34.2853,-91.3336,5161,Electrical engineer,1993-04-08,fa72d8dfc5aae27396428ab33aeb60cb,1.325969e+09,33.644988,-91.317119,0.0
11704,11704,2019-01-07 20:39:27,4509922033272157,fraud_Grimes LLC,entertainment,114.74,Monica,West,F,22084 Smith Roads Suite 776,...,43.2893,-97.1904,811,Neurosurgeon,1972-03-28,372455d5c962a18f36d82664af9e0747,1.325969e+09,43.400960,-96.594169,0.0
11705,11705,2019-01-07 20:39:39,3577578023716568,fraud_Schaefer Ltd,kids_pets,17.69,Debbie,Hughes,F,0182 Owens Burgs Suite 480,...,41.0935,-81.0425,2644,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11701,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11702,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11703,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11704,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11705,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,True,True,True,True

In [5]:
df.drop_duplicates()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1.325376e+09,36.011293,-82.048315,0.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1.325376e+09,49.159047,-118.186462,0.0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1.325376e+09,43.150704,-112.154481,0.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1.325376e+09,47.034331,-112.561071,0.0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1.325376e+09,38.674999,-78.632459,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11701,11701,2019-01-07 20:38:04,4223708906367574214,fraud_Reichert-Weissnat,travel,542.06,Adam,Riddle,M,27718 Mason Bypass,...,39.0965,-84.6431,177,Exhibition designer,1974-05-30,107e3c2b46ef9ce28185427a45fa2088,1.325969e+09,38.219354,-83.672260,0.0
11702,11702,2019-01-07 20:38:05,3541160328600277,"fraud_O'Reilly, Mohr and Purdy",home,42.50,Jason,Singh,M,4720 Anna Ways,...,39.5723,-90.2379,1512,Commercial/residential surveyor,2003-05-07,3f9554d76d89abb2d47e34f9da025159,1.325969e+09,40.564579,-90.378169,0.0
11703,11703,2019-01-07 20:39:07,6011438889172900,fraud_Mohr-Bayer,shopping_net,21.42,Allison,Allen,F,40624 Rebecca Spurs,...,34.2853,-91.3336,5161,Electrical engineer,1993-04-08,fa72d8dfc5aae27396428ab33aeb60cb,1.325969e+09,33.644988,-91.317119,0.0
11704,11704,2019-01-07 20:39:27,4509922033272157,fraud_Grimes LLC,entertainment,114.74,Monica,West,F,22084 Smith Roads Suite 776,...,43.2893,-97.1904,811,Neurosurgeon,1972-03-28,372455d5c962a18f36d82664af9e0747,1.325969e+09,43.400960,-96.594169,0.0
11705,11705,2019-01-07 20:39:39,3577578023716568,fraud_Schaefer Ltd,kids_pets,17.69,Debbie,Hughes,F,0182 Owens Burgs Suite 480,...,41.0935,-81.0425,2644,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.dtypes

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                float64
merch_lat                float64
merch_long               float64
is_fraud                 float64
dtype: object